//@import '../src/base/assets/styles/colors';

.input_search {
  width: 100%;
  max-width: 450px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;

  .input {
    width: 450px;
  }

  .img_wrap {
    position: absolute;
    right: 0;
  }

  .button {
    width: 76px;
    height: 40px;
    border-radius: 0 8px 8px 0;
    border: none;
  }

}
