.home {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  padding-top: 50px;

  .products_items {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-column-gap: 16px;
    grid-row-gap: 15px;
    margin-top: 50px;
    margin-bottom: 340px;
  }

  .button {
    margin-top: 20px;
  }
}


